.work {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.work h2 {
    margin-bottom:3rem ;
    font-size: 40px;
    font-family: main-bold;
    font-weight: 100;
    text-align: center;
}

.work__card {
    display: flex;
    flex-direction: row;
    height: 198.8px;
    width: 198.8;
}

.work__card img{
    height: 198.8px;
    width: 198.8px;
    aspect-ratio: 1/1;
    border-radius: 2rem;

}

.work__card h3{
    font-size: 15px;
    font-family: main-medium;
    margin-bottom: 10px;
}

.work__card p{
    font-size: 14px;
    font-family: secondary;
}

.work__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    font-weight: bolder;
    margin-left: 30px;
}

.work__card-1{
    margin-left: 80px;
}

.work__card-2{
    margin-left: 80px;
    margin-top: 100px;
}


.work__card-3{
    margin-top: 50px;
    margin-left: 280px;
    grid-column: span 2 / span 2;
}

@media only screen and (max-width: 768px) {

    .work {
        max-width: 100vw;
        overflow: hidden;
        margin: 0;
    }
    .work__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work__card-1{
        margin:0;
    }

    .work__card-2{
        margin:0;
        flex-direction: row-reverse;
    }

    .work__card-3{
        margin:0;
    }

    .work__card-2 .work__text{
        margin-left: 0;
        margin-right: 30px;
        text-align: right;
    }

}